# Sections plugin should be active in, separate with ;
sections=MOVIE

# Random delay interval between imdb parses
delay.start=5
delay.end=15

# Enable IMDB bar?
imdbbar.enabled=true
# IMDB bar as directory(true) or file(false)?
imdbbar.directory=true

# Stripe these words from search string (regex), space separated
imdb.filter=hdtv pdtv dvdrip rip divx xvid int internal dvd svcd vcd complete ntsc pal dvdr ita italian eng dvdscr scr ts proper fs ws AC3 19[0-9][0-9] 20[0-9][0-9] S[0-9][0-9]E[0-9][0-9] swedish part[0-9] dutch E[0-9]\. 720p 1080p x264 ac3 dsrip bluray screener